.yin-yang {
  margin: auto;
  margin-top: 200px;
  width: 180px;
  height: 90px;
  border-width: 5px 5px 100px 5px;
  border-style: solid;
  border-color: black;
  border-radius: 100%;
  position: relative;
}

.yin-yang::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: white;
  border: 30px solid black; 
  border-radius: 100%;
}

.yin-yang::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  background-color: black;
  border: 30px solid white;
  border-radius: 100%;
}